header {
    background-color:yellow;
    font-size: 2em;
    text-align: center;
}

body {
    background-color: black;
}

.main {
    font-size: 1.3em;
}

.ejercicio {
    color: yellow;
    padding: 1em;
}

.respuesta {
    color: greenyellow;
    font-size: 0.8em;
    padding: 1em;
}